* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grandparent {
  display: grid;
  top: 10%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-color: blue;
  position: absolute;
  align-items: center;
}
.parents {
  top: 20%;
  left: 20%;
  width: 200px;
  height: 200px;
  background-color: khaki;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.child {
  top: 20%;
  left: 10%;
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
